form {
	border: 3px solid #f1f1f1;
	display:block;
	text-align:left;
}

input[type=text], input[type=password], input[type=email] {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
input[type=submit] {
	margin-right: 10%;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

ul {
	list-style: none;
}

#login-div {
	width: 40%;
	float: right;
	margin-right: 10%;
	max-width: 500px;
}

#create-user-div {
	width: 40%;
	float: left;
	margin-left: 10%;
	max-width: 650px;
}

label {
	display:block;
	font-family: sans-serif;
}

.asd > div {
	width:47%;
	display:inline-block;
}

.asd input {
}
