@media only screen and (max-width: 1200px) {
	aside {
		text-align: center;
		position:relative;
		width: 250px;
		overflow: auto;
		height: 200px;
		display: inline;
		top:0;
	}

	#search-results {
		display:block;
		margin:auto;
		width: 640px;
	}
	#search-results > p {
		text-align: left;
	
	}
}

@media only screen and (max-width: 900px) {
	#login-div {
		width: 100%;
	}

	#create-user-div {
		width: 100%;
	}

	#asd > div {
		width:100%;
		display:block;
	}
}
@media only screen and (max-width: 700px) {
	#contents {
		width: 100%;
	}

	#search-results {
		width: 100%;
	}

	aside > select, aside > input {
		width: 45%;
	}

	video {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 700px) {
	header li:not(:first-child){
		display: none;
	}

	header li.icon {
		float: right;
		display: block;
		text-decoration: none;
	}

	#header.open .icon {
		position: relative;
		top: 0;
		right: 0;
	}

	#header.open li {
		float: none;
		display: block;
		text-align: left;
	}

	header {
		height:auto;
	}

	#header .always-show {
		display:block;
	}
}
