@media only screen and (max-width: 1200px) {
	aside {
		text-align: center;
		position:relative;
		width: 250px;
		overflow: auto;
		height: 200px;
		display: inline;
		top:0;
	}

	#search-results {
		display:block;
		margin:auto;
		width: 640px;
	}
	#search-results > p {
		text-align: left;

	}
	#create-user-div, #login-div {
		width: 49%;
		margin: 0;
	}
}

@media only screen and (max-width: 900px) {
	#create-user-div, #login-div {
		width: 100%;
		max-width: 900px;
	}

	.asd > div {
		width:100%;
		display:block;
	}
}

@media only screen and (max-width: 700px) {
	#contents {
		width: 100%;
	}

	#search-results {
		width: 100%;
	}

	aside > select, aside > input {
		width: 45%;
	}

	video {
		max-width: 100%;
		height: auto;
	}
	header li:not(:first-child){
		display: none;
	}

	header li.icon {
		float: right;
		display: block;
		text-decoration: none;
		background-color: #333;
	}

	#header.open .icon {
		position: relative;
		top: 0;
		right: 0;
		background-color: #333;
	}

	#header.open li {
		float: none;
		display: block;
		text-align: left;
		background-color: #333;
	}

	header {
		height:auto;
	}

	#header .always-show {
		display:block;
		border-right: 0;
	}

	#header.minimized {
		width : 46px;
		right : 0;
		margin-right : 0;
		background-color: transparent;
	}

	#header.minimized.open {
		width : 100%;
		right : auto;
		margin-right : auto;
		background-color: #333;
	}

	button, input[type=submit] {
		min-width: 45px;
		min-height: 45px;
	}

	#search-box, #search-results, #add-missing-skill-btn {
		display: none;
	}

	#skill {
		width: 100%;
		text-align: center;
		font-size: 1.3em;
	}
}
